{% extends 'layout.html.twig' %}

{% block content %}
<form action="" method="POST">
  <table>
    <tr><td>E-mail:</td> <td><input type="email" value"" name="email"></td></tr>
    <tr><td>Mot de passe:</td> <td><input type="password" value"" name="password"></td></tr>
    <tr><td><input class="myButtonValider" type="submit" value="Signin" name="loginBtn"></td></tr>
  </table>
</form>
{% endblock %}
