{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3 col-md-3">
				Nom
			</div>
			<div class="col-xs-6 col-md-6"><!-- colonne ou sera récupéré le nom de l'utilisateur -->
				<p>!nom récupéré de l'utilisateur!</p>
			</div>	
			<div class="col-xs-3 col-md-3">
				<a href="#"> Modifier </a>
			</div>	
		</div>
	
		<div class="row">
			<div class="col-xs-3 col-md-3">
				Prénom
			</div>
			<div class="col-xs-6 col-md-6"><!-- colonne ou sera récupéré le prénom de l'utilisateur -->
				<p>!prénom récupéré de l'utilisateur!</p>
			</div>	
			<div class="col-xs-3 col-md-3">
				<a href="#"> Modifier </a>
			</div>	
		</div>

		<div class="row">
			<div class="col-xs-3 col-md-3">
				Adresse
			</div>
			<div class="col-xs-6 col-md-6"><!-- colonne ou sera récupéré l'adresse postale de l'utilisateur -->
				<p>!adresse récupérée de l'utilisateur!</p>
			</div>	
			<div class="col-xs-3 col-md-3">
				<a href="#"> Modifier </a>
			</div>	
		</div>

		<div class="row">
			<div class="col-xs-3 col-md-3">
				E-mail
			</div>
			<div class="col-xs-6 col-md-6"><!-- colonne ou sera récupéré l'adresse mail de l'utilisateur -->
				<p>!adresse mail récupérée de l'utilisateur!</p>
			</div>	
			<div class="col-xs-3 col-md-3">
				<a href="#"> Modifier </a>
			</div>	
		</div>

		<div class="row">
			<div class="col-xs-3 col-md-3">
				Password
			</div>
			<div class="col-xs-6 col-md-6"><!-- colonne ou sera récupéré le password de l'utilisateur -->
				<p>!password récupéré de l'utilisateur!</p>
			</div>	
			<div class="col-xs-3 col-md-3">
				<a href="#"> Modifier </a>
			</div>	
		</div>
	</div>
{% endblock %}