{% extends 'layout.html.twig' %}

{% block content %}

<h1>Questions</h1>
<ul>
	{% for question in questions %}
    	<li>{{ question.questionName }}
    	<ul> 
	    	{% for answer in answers %}
                {% for answer1 in answer %}
                    {% if answer1.idQuestions == question.id %}
	    			<li>{{ answer1.name }}       {{ answer1.istrue }}</li>
                    {% endif %}
                    
                {% endfor %}
	    	{% else %}
	        <li>Nothing to display</li>
    		{% endfor %}
    	</ul>
    	</li>
    {% else %}
        <li>Nothing to display</li>
    {% endfor %}
</ul>



{% endblock %}