{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Resultat</h1>
    <p> {{ score }}/10 </p>

    <a href="/choice">Retour au choix des quizz</a>
    <a href="/editQuizz">Créer un quizz</a>

{% endblock %}
