{% extends 'layout.html.twig' %}

{% block content %}
	

		<div class=container>
				<form method="post">
					<p>
					<label for="chosenTheme">Sélectionner un Thème</label><br />
				     <select name="chosenTheme" id="chosenTheme">
				     	<option value="">Tous les Quizz</option>
				          {% for info in themes %}
				          <option value="{{ info.theme }}">{{ info.theme }}</option>
				          {% endfor %}
				     </select>

				     <input type="submit" value="Valider" />

					</p>
				</form>

				<form method="post">
					<p>
					<label for="chosenQuizz">Sélectionner un Quizz</label><br />
				     <select name="chosenQuizz" id="chosenQuizz">
				          {% for info in choices %}
				          <option value="{{ info.quizzName }}">{{ info.quizzName }}</option>
				          {% endfor %}
				     </select>

				     <input type="submit" value="Valider" />

					</p>
				</form>
		</div>

{% endblock %}
