{% extends 'layout.html.twig' %}

{% block content %}
{% for info in profil %}

	<h3 class="text-center">Congratulations {{ info.firstName }} {{ info.lastName }} !!!</h3>
	<br>
	<h3 class="text-center">You Are Now Registered</h3>
	<br>
	<div class="container">
		<br>
		<a href="/home"> Retour à la page d'accueil </a>
	</div class="container">

{% else %}
        <li>Nothing to display</li>
    {% endfor %}

{% endblock %}